RewriteEngine On

# deny access to all files in admin and system folder, redirect any call to that folder to admin.php
RewriteRule ^admin.*$ admin.php
RewriteRule ^system.*$ admin.php

# allow direct access to all other files ( like images, css or scripts )
RewriteCond %{REQUEST_FILENAME} !-f

# redirect anything else to admin.php
RewriteRule ^(.*)$ admin.php [QSA,L]