
.m-r-1em{
	margin-right: 1em;
}

.m-b-1em{
	margin-bottom: 1em;
}

.m-l-2em{
	margin-left: 2em; 
}

.m-b-0em{
	 margin-bottom: 0em; 
}

.light-grey{
	background-color: #d3d3d36e;
}

.p-l-r-0em{
	padding-left: 0em;
	padding-right: 0em;
}